<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style.css" rel="stylesheet" type="text/css">

    <title>Document</title>
</head>
<body>
    <div class="nav">
        <div class="logo"><img src="res/Logo.png"/>
            <div class="logo-text">PuZoo <img src="res/smile.svg"/></div>
        </div>
        <div class="nav-buttons">
            <button class="nav-button">О компании</button>
            <button class="nav-button">Каталог</button>
            <button class="nav-button">Доставка</button>
            <button class="nav-button">Контакты</button>
        </div>
        <div class="tech-buttons">
            <img src="res/cart.svg"><img src="res/profile.svg">
        </div>
    </div>
    <div class="header">
        <div class="header-content">
            <div class="main-text">Интернет магазин товаров для животных</div>
            <div class="sub-text-upper">От ведущих производителей</div>
            <div class="sub-text-lower">Скидка на товары для ухода - 50% до конца декабря - успейте заказать выгодно!</div>
            <button>Успей заказать выгодно!</button>
        </div>
        <img src="res/cat.png" style="overflow:auto;"/>
    </div>
    <div class="content">
        <div class="popular-staff">
            <div class="tile-header">Популярные товары</div>
            <div class="popular-cards">
                <img src="res/arrow.svg"/>
                <div class="popular-card">
                    <img class="heart" src="res/heart.svg"/>
                    <div class="card-content">
                    <img src="res/box1.png"/>
                    <span class="card-text">
                        <div class="text-name medium">Ferplast Переноска</div>
                        <div class="text-name">Ferplast Переноска</div>
                    </span>
                    <button>В корзину</button>
                    <div class="price bold">999руб</div>
                </div>
                </div>
                <div class="popular-card">
                    <img class="heart" src="res/heart.svg"/>
                    <div class="card-content">
                    <img src="res/box1.png"/>
                    <span class="card-text">
                        <div class="text-name medium">Ferplast Переноска</div>
                        <div class="text-name">Ferplast Переноска</div>
                    </span>
                    <button>В корзину</button>
                    <div class="price bold">999руб</div>
                </div>
                </div>
                <img id="left" src="res/arrow.svg"/>
            </div>

        </div>
    </div>
    
</body>
</html>